@font-face {
  font-family: "Euclid";
  src: url("../fonts/Euclid-Circular-B-Regular.woff") format("woff"), url("../fonts/Euclid-Circular-B-Regular.woff2") format("woff2"), url("../fonts/Euclid Circular B Regular.ttf") format("ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Euclid";
  src: url("../fonts/Euclid-Circular-B-Medium.woff") format("woff"), url("../fonts/fonts/Euclid-Circular-B-Medium.woff2") format("woff2"), url("../fonts/Euclid-Circular-B-Medium.ttf") format("ttf");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Euclid";
  src: url("../fonts/Euclid-Circular-B-SemiBold.woff") format("woff"), url("../fonts/fonts/Euclid-Circular-B-SemiBold.woff2") format("woff2"), url("../fonts/Euclid-Circular-B-SemiBold.ttf") format("ttf");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Euclid";
  src: url("../fonts/Euclid-Circular-B-Bold.woff") format("woff"), url("../fonts/fonts/Euclid-Circular-B-Bold.woff2") format("woff2"), url("../fonts/Euclid-Circular-B-Bold.ttf") format("ttf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

html,
body {
  height: 100%;
  font-family: "Euclid";
  font-weight: 400;
  font-size: 24px;
  color: #000000;
  background-color: #FFFFFF;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea {
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

[class*=__container] {
  margin: 0 auto;
  max-width: 1080px; /* 1080/1920 */
  padding: 0 20px;
}

[class*=__ibg] {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 5.833333vw;
     -moz-column-gap: 5.833333vw;
          column-gap: 5.833333vw; /* 112/1920 */
  margin: 0 auto;
  max-width: none;
  padding: 0 60px;
  letter-spacing: -0.05em;
  padding-top: 42px;
  padding-bottom: 20.3vh; /* 203/1000 */
}
@media (max-width: 850px) {
  .header__container {
    padding: 21px 40px;
    background-color: #cef4ff;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.header__logo {
  color: #000000;
  font-weight: 700;
  line-height: 1.25;
}
@media (max-width: 767px) {
  .header__logo {
    font-size: calc(24px + -3.4 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .header__logo {
    font-size: calc(24px + -2 * (100vw / 1920));
  }
}
.header__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 19px 29px;
  border: 1px solid #E6E6E6;
  border-radius: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 850px) {
  .header__button {
    border: 1px solid #130F49;
    padding: 14px 20px;
  }
}
.header__points {
  padding: 0 15px 0 0;
}
.header__caption {
  display: inline-block;
  font-weight: 600;
  line-height: 1.27; /* 23/18 */
  color: #130F49;
}
@media (max-width: 767px) {
  .header__caption {
    font-size: calc(18px + -3.4 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .header__caption {
    font-size: calc(18px + -2 * (100vw / 1920));
  }
}

.life__container {
  padding-bottom: 320px;
  position: relative;
}
@media (max-width: 850px) {
  .life__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 150px;
  }
}
.life__mobile {
  display: none;
}
@media (max-width: 850px) {
  .life__mobile {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    padding-bottom: 100%;
    top: -7vw;
  }
}
.life__title {
  font-weight: 600;
  font-size: 90px;
  line-height: 0.95;
  letter-spacing: -0.02em;
  max-width: 515px;
  color: #130F49;
  padding-bottom: 5vh; /* 36/1080 */
  white-space: nowrap;
}
@media (max-width: 767px) {
  .life__title {
    font-size: calc(32px + 98.6 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .life__title {
    font-size: calc(32px + 58 * (100vw / 1920));
  }
}
@media (max-width: 850px) {
  .life__title {
    margin: 0 auto;
    text-align: center;
    white-space: normal;
  }
}
@media (max-width: 850px) {
  .life__br {
    display: none;
  }
}
.life__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 11px;
     -moz-column-gap: 11px;
          column-gap: 11px;
  padding-bottom: 5vh; /* 36/1000 */
}
@media (max-width: 850px) {
  .life__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.life__subtitle {
  font-size: 26px;
  line-height: 1, 26; /* 33/26 */
  letter-spacing: -0.01em;
  color: #130F49;
  display: inline;
}
@media (max-width: 767px) {
  .life__subtitle {
    font-size: calc(24px + 3.4 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .life__subtitle {
    font-size: calc(24px + 2 * (100vw / 1920));
  }
}
.life__decor {
  text-decoration: underline;
  -webkit-text-decoration-color: #FFD32C;
          text-decoration-color: #FFD32C;
}
.life__button {
  display: inline-block;
  padding: 29px 50px;
  background-color: #130F49;
  font-weight: 500;
  line-height: 127.777778%; /* 23/18 */
  border-radius: 20px;
  letter-spacing: -0.05em;
  color: #FFFFFF;
}
@media (max-width: 767px) {
  .life__button {
    font-size: calc(16px + 3.4 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .life__button {
    font-size: calc(16px + 2 * (100vw / 1920));
  }
}
@media (max-width: 850px) {
  .life__button {
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
  }
}
.life__ibg {
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 850px) {
  .life__ibg {
    -o-object-fit: contain;
       object-fit: contain;
  }
}
.life__back {
  position: absolute;
  height: 125%;
  width: 125%;
  top: -39%;
  right: -32vw;
}
@media (min-height: 700px) {
  .life__back {
    top: -36%;
  }
}
@media (min-height: 800px) {
  .life__back {
    top: -38%;
  }
}
@media (min-height: 900px) {
  .life__back {
    top: -40%;
  }
}
@media (min-height: 1000px) {
  .life__back {
    top: -42%;
  }
}
@media (min-height: 1100px) {
  .life__back {
    top: -44%;
  }
}
@media (max-width: 2000px) {
  .life__back {
    height: 118%;
    width: 118%;
  }
}
@media (max-width: 1800px) {
  .life__back {
    height: 113%;
    width: 113%;
  }
}
@media (max-width: 1600px) {
  .life__back {
    height: 108%;
    width: 108%;
  }
}
@media (max-width: 1400px) {
  .life__back {
    height: 102%;
    width: 102%;
  }
}
@media (max-width: 1200px) {
  .life__back {
    height: 97%;
    width: 97%;
  }
}
@media (max-width: 1000px) {
  .life__back {
    height: 91%;
    width: 91%;
  }
}
@media (max-width: 850px) {
  .life__back {
    display: none;
  }
}

.block-double__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 7.395833vw;
     -moz-column-gap: 7.395833vw;
          column-gap: 7.395833vw; /* 142/1920 */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 238px;
  row-gap: 20px;
}
.block-double__container_second {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
@media (max-width: 900px) {
  .block-double__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    padding-bottom: 150px;
  }
}
.block-double__picture {
  position: relative;
  padding-bottom: 50%;
  padding-right: 50%;
  max-width: 501px;
  max-height: 501px;
}
@media (max-width: 900px) {
  .block-double__picture {
    padding-bottom: 80%;
    padding-right: 80%;
  }
}
@media (max-width: 600px) {
  .block-double__picture {
    padding-bottom: 100%;
    padding-right: 100%;
  }
}
.block-double__ibg {
  -o-object-fit: contain;
     object-fit: contain;
}
.block-double__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 41px;
  color: #130F49;
}
@media (max-width: 700px) {
  .block-double__body {
    row-gap: 25px;
  }
}
.block-double__title {
  font-weight: 500;
  line-height: 0.94;
  letter-spacing: -0.02em;
}
@media (max-width: 767px) {
  .block-double__title {
    font-size: calc(42px + 44.2 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .block-double__title {
    font-size: calc(42px + 26 * (100vw / 1920));
  }
}
.block-double__subtitle {
  font-weight: 400;
  line-height: 1.45;
  letter-spacing: -0.01em;
  color: rgba(19, 15, 73, 0.4);
}
@media (max-width: 767px) {
  .block-double__subtitle {
    font-size: calc(18px + 10.2 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .block-double__subtitle {
    font-size: calc(18px + 6 * (100vw / 1920));
  }
}

.button {
  background: #CCE8FD;
  border-radius: 20px;
  padding: 13px 39px 13px 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
@media (max-width: 900px) {
  .button {
    margin: 0 auto;
  }
}
.button__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.button__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  letter-spacing: -0.01em;
  color: rgba(19, 15, 73, 0.4);
  white-space: nowrap;
}
.button__title_white {
  color: rgba(255, 255, 255, 0.4);
}
.button__subtitle {
  font-weight: 500;
  font-size: 19px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #130F49;
  white-space: nowrap;
}
.button__subtitle_white {
  color: #FFFFFF;
}

.track__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 275px;
  position: relative;
  row-gap: 238px;
}
@media (max-width: 900px) {
  .track__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    padding-bottom: 150px;
  }
}
.track__bg {
  position: absolute;
  top: 9%;
  z-index: -1;
  left: -48%;
}
@media (max-width: 75em) {
  .track__bg {
    left: -52%;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }
}
@media (max-width: 59em) {
  .track__bg {
    left: -60%;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }
}
@media (max-width: 900px) {
  .track__bg {
    top: 4%;
    left: -40%;
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
  }
}
@media (max-width: 600px) {
  .track__bg {
    top: 4%;
    left: -40%;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }
}
.track__food {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 88px;
}
@media (max-width: 700px) {
  .track__food {
    row-gap: 50px;
  }
}
.track__title {
  font-weight: 500;
  line-height: 0.9;
  letter-spacing: -0.02em;
  color: #130F49;
}
@media (max-width: 767px) {
  .track__title {
    font-size: calc(58px + 45.9 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .track__title {
    font-size: calc(58px + 27 * (100vw / 1920));
  }
}
.track__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 21px;
     -moz-column-gap: 21px;
          column-gap: 21px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
@media (max-width: 900px) {
  .track__cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.track__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 21px;
}
.track__column:last-child {
  margin-top: 40px;
}
.track__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 38px 23px 29px;
  background-color: #FFFFFF;
  border-radius: 29px;
  font-weight: 500;
  font-size: 14px;
  line-height: 128.571429%; /* 18/14 */
  letter-spacing: -0.01em;
  color: #130F49;
}
.track__image {
  padding-bottom: 21px;
}
.track__caption {
  padding-bottom: 5px;
}
.track__subtitle {
  opacity: 0.4;
}
.track__body {
  max-width: 400px;
}
.track__text {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.26;
  letter-spacing: -0.01em;
  padding-bottom: 62px;
  color: rgba(19, 15, 73, 0.4);
  text-align: left;
}
@media (max-width: 600px) {
  .track__text {
    font-size: 34px;
    text-align: center;
  }
}
.track__item {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.track__item:nth-child(2) {
  margin-bottom: 50px;
}
.track__picture {
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 20%;
}
.track__ibg {
  -o-object-fit: contain;
     object-fit: contain;
  top: -25%;
}
.track__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}
.track__bigtitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 141.666667%; /* 34/24 */
  letter-spacing: -0.01em;
  color: #130F49;
  padding-bottom: 13px;
}
.track__bigsubtitle {
  color: rgba(19, 15, 73, 0.4);
  font-weight: 400;
  font-size: 20px;
  line-height: 140%; /* 28/20 */
}

.logos__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 30px;
  padding-bottom: 110px;
}
@media (max-width: 900px) {
  .logos__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.logos__item {
  position: relative;
  padding-bottom: 10%;
  width: 15%;
  height: 100%;
}
@media (max-width: 900px) {
  .logos__item {
    width: 50%;
    padding-bottom: 13%;
  }
}
@media (max-width: 600px) {
  .logos__item {
    padding-bottom: 20%;
  }
}
.logos__ibg {
  -o-object-fit: contain;
     object-fit: contain;
}

.footer__body {
  max-width: 1396px;
  margin: 0 auto;
  padding: 0 20px;
  padding-bottom: 120px;
}
@media (max-width: 900px) {
  .footer__body {
    padding-bottom: 20px;
  }
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background: #D9F4FF;
  border-radius: 56px;
  max-width: none;
  padding: 0 158px;
  min-width: 300px;
}
@media (max-width: 800px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
}
.footer__block {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
}
@media (max-width: 800px) {
  .footer__block {
    row-gap: 30px;
    padding-top: 50px;
  }
}
.footer__title {
  font-weight: 500;
  line-height: 0.93;
  letter-spacing: -0.02em;
  color: #130F49;
  white-space: nowrap;
}
@media (max-width: 767px) {
  .footer__title {
    font-size: calc(42px + 37.4 * ((100vw - 320px) / 1920));
  }
}
@media (min-width: 767px) {
  .footer__title {
    font-size: calc(42px + 22 * (100vw / 1920));
  }
}
@media (max-width: 800px) {
  .footer__title {
    text-align: center;
  }
}
.footer__button {
  background: #130F49;
}
@media (max-width: 800px) {
  .footer__button {
    margin-bottom: 30px;
  }
}
.footer__image {
  position: relative;
  height: 100%;
  width: 100%;
  padding-bottom: 60%;
  right: -80px;
}
@media (max-width: 800px) {
  .footer__image {
    right: 0;
  }
}
.footer__ibg {
  -o-object-fit: contain;
     object-fit: contain;
}