
.block-double {

   &__container {
      display: flex;
      justify-content: space-between;
      column-gap: 7.395833vw; /* 142/1920 */
      align-items: center;
      padding-bottom: 11.458333vh; /* 220/1920 */
      row-gap: 20px;
      &_second {
         flex-direction: row-reverse;
      }
      @media (max-width: 900px){
         flex-wrap: wrap;
         justify-content: center;
         text-align: center;
      }
   }

   &__picture {
      position: relative;
      padding-bottom: 50%;
      padding-right: 50%;
      max-width: 501px;
      max-height: 501px;
      @media (max-width: 900px){
         padding-bottom: 80%;
         padding-right: 80%;
      }
      @media (max-width: 600px){
         padding-bottom: 100%;
         padding-right: 100%;
      }
   }

   &__ibg {
      object-fit: contain;

   }

   &__body {
      display: flex;
      flex-direction: column;
      row-gap: 41px;
      color: #130F49;
   }

   &__title {
      font-weight: 500;
      @include adaptiv-font(68, 48);
      line-height: 0.94;
      letter-spacing: -0.02em; 
   }

   &__subtitle {
      font-weight: 400;
      @include adaptiv-font(24, 18);
      line-height: 1.45;
      letter-spacing: -0.01em;
      color: $op-color;
   }
}
.button {

   background: #CCE8FD;
   border-radius: 20px;
   padding: 13px 39px 13px 19px;
   display: flex;
   column-gap: 15px;
   align-items: center;
   width: fit-content;
   @media (max-width: 900px){
      margin: 0 auto;
   }

   &__body {
      display: flex;
      flex-direction: column;
   }

   &__title {
      font-weight: 400;
      font-size: 14px;
      line-height: 1;
      letter-spacing: -0.01em;
      color: $op-color;
   }

   &__subtitle {
      font-weight: 500;
      font-size: 19px;
      line-height: 1.5;
      letter-spacing: -0.01em;
      color: $blue-color;
   }
}
