.header {

		&__container {
			display: flex;
			align-items: center;
			column-gap: 5.833333vw; /* 112/1920 */
			margin: 0 auto;
			max-width: none;
			padding: 0 60px;
			letter-spacing: -0.05em;
			padding-top: 42px;
			padding-bottom: 20.3vh; /* 203/1000 */
			@media (max-width: 850px) {
				padding: 21px 40px;
				background-color: #cef4ff;
				justify-content: space-between;
			}
		}

		&__logo {
			color: $black-color;
			font-weight: 700;
			line-height: 1.25;
			@include adaptiv-font(22, 24);
		}

		&__button {
			display: flex;
			padding: 19px 29px;
			border: 1px solid #E6E6E6;
			border-radius: 16px;
			align-items: center;
			background-color: #FFFFFF;
			
			@media (max-width: 850px) {
				border: 1px solid $blue-color;
				padding: 14px 20px;
				
			}
			transition: background-color ease 0.3s;
			&:hover {
				background-color: #E6E6E6;
			}
		}

		&__points {
			padding: 0 15px 0 0;
		}

		&__caption {
			display: inline-block;
			font-weight: 600;
			@include adaptiv-font(16, 18);;
			line-height: 1.27; /* 23/18 */
			color: $blue-color;
		}
}


