.life {

   &__container {
      padding-bottom: 368px;
      position: relative;
   }

   &__title {
      font-weight: 600;
      font-size: 90px;
      @include adaptiv-font(90, 32);
      line-height: 0.95;
      letter-spacing: -0.02em;
      max-width: 515px;
      color: $blue-color;
      padding-bottom: 3.6vh; /* 36/1000 */
      white-space: nowrap;
   }

   &__body {
      display: flex;
      align-items: center;
      column-gap: 11px;
      padding-bottom: 3.6vh; /* 36/1000 */
   }

   &__subtitle {
      font-size: 26px;
      @include adaptiv-font(26, 24);
      line-height: 1,26; /* 33/26 */
      letter-spacing: -0.01em;
      color: $blue-color;
      display: inline;
   }

   &__decor {
      text-decoration: underline;   
      text-decoration-color: #FFD32C;
   }

   &__button {
      display: inline-block;
      padding: 29px 50px;
      background-color: $blue-color;
      font-weight: 500;
      @include adaptiv-font(18, 16);
      line-height: 127.777778%; /* 23/18 */
      border-radius: 20px;
      letter-spacing: -0.05em;
      color: #FFFFFF;
   }

   &__ibg {
      object-fit: contain;
   }

   &__back {
      position: absolute;
      height: 125%;
      width: 125%;
      top: -39%;
      right: -32vw;
      @media (min-height: 700px) {
         top: -36%;
      } 
      @media (min-height: 800px) {
         top: -38%;
      } 
      @media (min-height: 900px) {
         top: -40%;
      } 
      @media (min-height: 1000px) {
         top: -42%;
      }  
      @media (min-height: 1100px) {
         top: -44%;
      }
      @media (max-width: 2000px) {
         height: 118%;
         width: 118%;
      }     
      @media (max-width: 1800px) {
         height: 113%;
         width: 113%;  
      }
      @media (max-width: 1600px) {
         height: 108%;
         width: 108%;  
      }
      @media (max-width: 1400px) {
         height: 102%;
         width: 102%;  
      }
      @media (max-width: 1200px) {
         height: 97%;
         width: 97%;  
      }
      @media (max-width: 1000px) {
         height: 91%;
         width: 91%;  
      }
      
   }
}