.logos {

   &__container {
      display: flex;
      justify-content: space-between;
      @media (max-width: 900px){
         flex-wrap: wrap;
      }
      row-gap: 30px;
   }

   &__item {
      position: relative;
      padding-bottom: 10%;
      width: 20%; 
      height: 100%;
      @media (max-width: 900px){
         width: 50%;
         padding-bottom: 13%;
      }
      @media (max-width: 600px){
         width: 100%;
         padding-bottom: 20%;
      }
   }

   &__ibg {
      object-fit: contain;
   }
}
